<launch>

    <include file="$(find limo_visions)/launch/limo_start.launch" />
    <include file="$(find astra_camera)/launch/dabai_u3.launch" />
    <include file="$(find limo_visions)/launch/limo_rtabmap_orbbec.launch" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find limo_visions)/rviz/contest.rviz"/>

</launch>
